{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="row">
    <div class="col-md-8 pull-left">
    <div class="page-header text-center">
<h1>Club 'Conture'</h1>
    </div>

    <div class="jumbotron" id="feed">
{#       <a href="{{ backurl }}">Back</a>#}
        <p>This is test site for my course work, for now index page is empty, but later i will fill it with club news and history</p>
    </div>
    </div>
        {% block feed %}
            {% for action in actions %}
                {% if action.verb == 'have uploaded new work' and action.user != user %}
                    <li><a href="{% url 'student_detail' action.user %}">{{ action.user }}</a> {{ action.verb }} <a href="{% url 'work_d' action.target|slugify %}">{{ action.target.name }}</a> -<em>{{ action.created|timesince }}</em></li>
                    {% elif action.verb == 'singed up on ' and action.user != user %}
                    <li><a href="{% url 'student_detail' action.user %}">{{ action.user }}</a> {{ action.verb }} <a href="{% url 'detail' action.target_id %}">{{ action.target.name }}</a> -<em>{{ action.created|timesince }}</em></li>
                {% endif %}
{#                <li>{{ action.user }} {{ action.verb }} {{ action.targer }}</li>#}
            {% endfor %}


            {% endblock %}
        </div>
    </div>
{% endblock %}