{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load tz %}
{% block content %}
{#    <h1 class="page-header text-center text-capitalize">{{ student.user.get_full_name }}</h1>#}
    <div class='container'>
    <div class="row">
        <div class="col-md-4">
        <img class='img-responsive ' src="{{ media_url }}{{ student.photo }}" align="left"/>
            <div class="text-center">
            <h4 >Date of birth</h4>
            <p>{{ student.date_of_birth }}</p>

                <h4>Ficility</h4>
            <p>{{ student.facility }}</p>
            </div>
            </div>
        <div class="col-md-6 text-center">
            <h1 class="text-capitalize text-center">{{ student.user.get_full_name }}</h1>
            <h1>Short student information</h1>
            <p class="">{{ student.bio }}</p>
        </div>
    </div>
    <div class="text-center  ">
    <h2>Works:</h2>
    {% for work in student.work_set.all %}
        <ul class="test">
    <li><a href="{{ media_url }}{{ work.name }}">{{ work.name }}</a></li>
{#        #TODO: LEARN HOW TO DOWNLOAD FILE #}
        </ul>
    {% endfor %}
    </div>
    </div>
{% endblock %}